*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
 
}


@media (max-width:650px) {

header{
  flex-direction: column;
  gap:20px;
}

  .container_search{
    max-width: 80%;
    margin: 0 auto;
  }
  .name_client{
margin-top: 28%;
  }


}